<!DOCTYPE html>
<html ng-app="NgAuth">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Angular Auth Front</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link href='http://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//cdn.jsdelivr.net/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet">

  <!-- build:css({.tmp,.}) vendor.css -->
  <link rel="stylesheet" href="vendor.css">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
  <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,.}) appstyles.css -->
  <link rel="stylesheet" href="appstyles.css">
  <link rel="stylesheet" href="notes.css">
  <!-- endbuild -->

</head>
<body>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <span>Notes</span>
    </a>
  </div>
  <ul class="nav navbar-nav">
    <!-- Here goes the list menu item -->
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/#login">Login</a></li>
    <li data-match-route="/signup"><a href="/#signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li><a ng-bind="currentUser.name" href="/#editprofile"></a></li>
    <li><a href="" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<div ng-view class="{{pageClass}}"></div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({src,.tmp}) scripts/app.js -->
<script src="app.js"></script>
<script src="config.js"></script>
<script src="controllers/main.js"></script>
<script src="controllers/navbar.js"></script>
<script src="controllers/auth/login.js"></script>
<script src="controllers/auth/signup.js"></script>
<script src="controllers/auth/editprofile.js"></script>
<script src="controllers/auth/forgotpassword.js"></script>
<script src="controllers/auth/resetpassword.js"></script>
<script src="services/auth.js"></script>
<script src="services/message.js"></script>

<!-- inject:partials -->
<!-- angular templates will be automaticaly converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
